@model IEnumerable<GoogCalWebApp.Models.Event>

@{
    ViewBag.Title = "Calendar Events for next 30 Days.";
    
    
}




@foreach (var item in Model)
{
    <h2> ID : @item.Id </h2> 
}