@model IEnumerable<GoogCalWebApp.Models.Event>

@{
    ViewBag.Title = "Up-Coming Events for the next 30 Days.";
    
    
}




@foreach (var item in Model)
{
    <li> Title : @item.Title , Info : @item.Info, Location : @item.Location,        </li> 
}